<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy_4" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="synergy_3" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="synergy_8" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="synergy_8" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="synergy_4" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="synergy_8" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="synergy_5" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="synergy_2" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy_5" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="synergy_5" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="synergy_4" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="synergy_1" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="synergy_6" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="synergy_1" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="synergy_7" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="synergy_6" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy_5" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="synergy_5" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="synergy_6" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="synergy_6" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="synergy_1" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="synergy_2" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="synergy_2" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="synergy_5" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy_1" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="synergy_5" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="synergy_7" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="synergy_6" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="synergy_3" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="synergy_1" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="synergy_4" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="4" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="synergy_8" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy_3" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="synergy_8" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="5" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="synergy_2" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="5" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="synergy_4" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="5" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="synergy_7" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="5" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="synergy_6" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="5" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="synergy_3" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="5" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="synergy_2" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy_1" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="synergy_2" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="synergy_4" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="synergy_5" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="synergy_3" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="6" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="synergy_8" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="6" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="synergy_7" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="6" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="synergy_6" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="7" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy_3" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="7" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="synergy_4" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="7" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="synergy_1" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="7" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="synergy_6" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="7" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="synergy_3" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="7" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="synergy_7" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="7" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="synergy_7" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="7" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="synergy_7" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="8" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy_7" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="8" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="synergy_2" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="8" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="synergy_3" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="8" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="synergy_2" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="8" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="synergy_8" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="8" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="synergy_1" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="8" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="synergy_8" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="8" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="synergy_4" data-view="Meter" data-title="Synergy" data-height="100" data-width="100" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

  </ul>
</div>
